@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-4xl font-extrabold;
  }
  h2 {}
  h3 {}
  h4 {}
  h5 {}
  h6 {}

  p {}

  a {}

  ul {}
  ol {}
  li {}
}

/* RESET BASE STYLES */

/* Removing arrows from inputs with type number */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}